body {
  background: #F8CEF1;
  font-family: sans-serif;
  height: 100vh;
}

h2 {
  color: #fff;
}

.utama {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.gambar {
  margin-right: 20px; /* Memberikan margin kanan untuk mengatur jarak antara gambar dan form login */
}

.login {
  padding: 1em;
  width: 17em;
  background: #fff;
  border-radius: 3px;
}

label {
  font-size: 10pt;
  color: #555;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 8px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}

.tombol {
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 5px 8px;
  margin: 20px 0px;
}
